#mobile-form {
    background-color: #262626;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

#mobile-form-header {
    font-size: 24px;
    font-weight: 500;
    line-height: 2em;
}

#mobile-form-subheader {
    font-weight: 500;
    font-size: 16px;
    line-height: 2em;
    padding-bottom: 35px;
}

::ng-deep .mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-label {
    color: #303030 !important;
}
/*
::ng-deep .mat-form-focused .mat-form-field-label {
    color: #1b73e8 !important;
}

::ng-deep .mat-form-field-label {
    color: #606160 !important;
}

::ng-deep .input {
    color: #606160 !important;
}

::ng-deep .mat-input-element {
    color: white !important;
}

::ng-deep .mat-hint {
    color: #606160 !important; 
}
*/
.mobile-checkbox-gap {
    height: 20px;
}

::ng-deep .mat-checkbox-background {
    background-color: #262626;
    border: 2px solid #606160;
}

.mobile-privacy {
    font-weight: 500;
    line-height: 1.5em;
    color: #606160;
}

a {
    color: #1F89EE; 
}

#mobile-next-button {
    float: right;
    background-color: #1D7EEB; 
    border: none;
    border-radius: 4px;
    font-size: 0.85em;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 50px;
    margin-right: 40px;
    text-align: center;
}

#mobile-next-button-gap {
    height: 150px;
    background-color: #262626;
}