#mobile-thanks {
    padding-top: 35px;
    padding-left: 40px;
    font-weight: 500;
    color: #ffffff;
}

#mobile-thanks-header {
    font-size: 24px;
    line-height: 2em;
}

#mobile-thanks-subheader {
    font-size: 16px;
    line-height: 2em;
    padding-bottom: 50px;
}

.mobile-social {
    font-size: 24px;
}

.fa {
    color: #606160;
    padding-right: 36px;
}