<div id = "mobile-thanks">
    <div id = "mobile-thanks-header">
        <b>Mischief </b> <br>
        Thanks for your interest!
    </div>
    
    <div id = "mobile-thanks-subheader">
        We'll let you know when the app is ready.
    </div>
    
    <div class="mobile-social">
        <a href="https://www.facebook.com/MischiefDotApp/" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>  
        <a href="https://www.instagram.com/mischief.app/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC_jFHsCvaJlVtU_APnhi5kw" target="_blank">
            <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.linkedin.com/company/mischiefdotapp/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
    </div>      
</div>



