/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*  {
    margin: 0px;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

p {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    background-color: #212121;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
