<div id = "mobile-header">
    <img id = "mobile-logo" src = "assets/mischief-logo.png">
    <span class = "mobile-name">
        Mischief
    </span>
    <span class = "mobile-small">
        Hollywood's social network
    </span>
    <span class = "mobile-small mobile-blue-button">
        <a routerLink = "/learn-more"><b>SIGN UP</b></a>
    </span>
</div>

<div id = "mobile-header-gap"></div>

<div id = "mobile-body">

    <div class = "mobile-big">
        Tell your story 
    </div>
    <div class = "mobile-reg">
        Mischief helps you make a movie or series, then <br> 
        sell your work to a streaming service.
    </div>
    <img class = "mobile-img" src = "assets/main-teaser-screens.png">

    <div class = "light">
        <div class = "mobile-big">
            Start with a script
        </div>
        <div class = "mobile-reg">
            Buy and sell original screenplays, adapt best <br>
            sellers, and nominate actors to play written <br> 
            characters.
        </div>
        <img class = "mobile-img" src = "assets/writer-teaser-screens.png">
    </div>

    <div class = "mobile-big">
        Produce it yourself
    </div>
    <div class = "mobile-reg">
        Schedule call times, hire a cast and crew, rent <br>
        locations and equipment, and raise money on <br>
        Hollywood's stock market.
    </div>
    <img class = "mobile-img" src = "assets/producer-teaser-screens.png">

    <div class = "light">
        <div class = "mobile-big">
            Find your dream job
        </div>
        <div class = "mobile-reg">
            Apply for open cast and crew roles. Work when <br>
            you want, where you want, with teams you can <br>
            trust.
        </div>
        <img class = "mobile-img" src = "assets/cast-crew-teaser-screens.png">
    </div>

    <div class = "mobile-big">
        Rent your stuff
    </div>
    <div class = "mobile-reg">
        List your locations, cameras, lights, sound, and <br> 
        more. Work with verified producers, with free <br>
        insurance against damages.
    </div>
    <img class = "mobile-img" src = "assets/rentals-teaser-screens.png">

    <div class = "light">
        <div class = "mobile-big">
            Invest in new content
        </div>
        <div class = "mobile-reg">
            Trade shares in critically-acclaimed content with <br> 
            the world's first film stock market.
        </div>
        <img class = "mobile-img" src = "assets/investor-teaser-screens.png">
    </div>

    <div class = "mobile-big">
        Stream better stories
    </div>
    <div class = "mobile-reg">
        Acquire award-worthy content, commission new <br> 
        productions, and continue to expand our <br>
        collective moral imagination.
    </div>
    <img class = "mobile-img" src = "assets/distributor-teaser-screens.png">
</div>

<div id = "mobile-footer">
    <div class = "mobile-big">
        Tell your story 
    </div>
    <div class = "mobile-reg mobile-white-button">
        <a> Get early access </a>
    </div>
</div>

<div id = "mobile-contact">
    <div class = "mobile-name">
        Mischief
    </div>
    <span class = "mobile-link">
        <a href="https://drive.google.com/file/d/1BbFj9wuvIeg3wHzgZFNb-CtHhZmJs9GH/view?usp=sharing" target="_blank"> 
            Privacy & Terms 
        </a>
    </span>
    <span class = "mobile-link">
        <a href="https://angel.co/company/mischief-app/jobs" target="_blank"> 
            Careers 
        </a>
    </span>
    <span class = "mobile-link">
        <a href="mailto:hello@mischief.app" target="_top"> 
            Contact Us 
        </a>
    </span>
    <br>
    <div class="mobile-social">
        <a href="https://www.facebook.com/MischiefDotApp/" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>  
        <a href="https://www.instagram.com/mischief.app/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC_jFHsCvaJlVtU_APnhi5kw" target="_blank">
            <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://www.linkedin.com/company/mischiefdotapp/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
    </div>       
</div>

